nav i {
  font-size: 40px !important;
  margin-right: 5px !important;
}

.sp-replacer {
  border-radius: 5px;
  margin: 8px auto;
}

.controls {
  z-index: 1;
  position: sticky;
  position: -webkit-sticky;
  top: 75px;
  background-color: #eeeeee;
  width: 93%;
  padding: 1px;
  height: 160px;
  border-radius: 10px;
}

.tabs i {
  margin-right: 5px;
  vertical-align: middle;
  font-size: 20px;
}

.tabs .tab-title {
  vertical-align: middle;
}

.slider {
  margin-top: 10px;
}

#custom div {
    margin-bottom: 50px;
}

.tabs-content.carousel .carousel-item {
  height: 500px !important;
}

.options {
  text-align: left;
  width: 138px;
  margin: auto;
}

.collapsible-body .select-wrapper {
  width: 40px;
  margin: auto;
}

#about h2 {
  text-align: center;
}

#about i, .title {
  vertical-align: middle;
  margin: 2px;
}
