nav i {
  font-size: 40px !important;
  margin-right: 5px !important;
}

.sp-replacer {
  border-radius: 5px;
  margin: 8px auto;
}

.controls {
  z-index: 1;
  position: sticky;
  position: -webkit-sticky;
  top: 75px;
  background-color: #eeeeee;
  width: 93%;
  padding: 1px;
  height: 160px;
  border-radius: 10px;
}

.controls h5 {
  margin: 5px 0 0 0 !important;
}

.controls .colorpicker form {
  text-align: left;
}

.controls .colorpicker .random-color,
.default-delay {
  margin: 0 !important;
}

.controls .colorpicker .random-color span,
.default-delay span {
  padding-left: 26px !important;
  color: black;
  margin-top: -4px;
}

.controls .settings .clear {
  height: 30px;
  width: 120px;
  margin-top: 10px;
  padding: 0;
}

.controls .settings .clear i {
  margin-right: 2px;
  margin-left: 5px;
}

.tabs i {
  margin-right: 5px;
  vertical-align: middle;
  font-size: 20px;
}

.tabs .tab-title {
  vertical-align: middle;
}

.slider {
  margin-top: 10px;
}

#colors {
  padding: 10px;
}

#colors .color-buttons {
  margin-bottom: 20px;
  display: grid;
  grid-row-gap: 20px;
  grid-template-columns: repeat(4, 1fr);
}

#colors .color-buttons a {
  margin: auto;
}

.tabs-content.carousel .carousel-item {
  height: 100% !important;
}

.options {
  text-align: left;
  width: 138px;
  margin: auto;
}

.collapsible-body .select-wrapper {
  width: 40px;
  margin: auto;
}

#about h2 {
  text-align: center;
}

#about i,
.title {
  vertical-align: middle;
  margin: 2px;
}

#about i,
.coded {
  font-size: 23px;
}

#about i,
.coded-by {
  text-align: center;
}

.tabs-content.carousel.carousel-slider {
  height: 100% !important;
  overflow: auto;
}

.rainbow input.iterations,
.segment-length .segment-select {
  width: 34px !important;
  height: 50px !important;
  font-size: 30px !important;
}

.rainbow a.red,
.segment-length a.red {
  margin: 20px;
}

.rainbow .play {
  margin: 20px;
}

.segment-length {
  text-align: center;
  margin: auto;
  width: 190px;
}
