.sp-replacer {
  border-radius: 5px;
  margin: 20px auto;
}
.slider {
  margin-top: 20px;
}
#custom div {
    margin-bottom: 50px;
}
.tabs-content.carousel .carousel-item {
  height: 500px !important;
}
